[Unit]
Description=Create bridge for infra cloud
After=glean@.service network.target network-online.target
Wants=newtork-online.target

[Service]
Type=oneshot
User=root
ExecStart=/usr/bin/python /opt/create_bridge.py
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
